@model IEnumerable<Astro.DAL.Models.EPIC>
@using Microsoft.AspNetCore.Identity
@using Astro.DAL.Models
@inject SignInManager<User> SignInManager
@{
    ViewData["Title"] = "EPIC";
}

<h1 style="text-align:center">Galeria EPIC</h1>

<style>
    * {
        box-sizing: border-box;
    }

    .container {
        position: relative;
    }

    .mySlides {
        display: none;
    }

    .cursor {
        cursor: pointer;
    }

    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 40%;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
    }

    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }

    .caption-container {
        text-align: center;
        background-color: #222;
        padding: 2px 16px;
        color: white;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .column {
        float: left;
        width: 16.66%;
    }

    .demo {
        opacity: 0.6;
    }

    .active,
    .demo:hover {
        opacity: 1;
    }
</style>

<div class="container">

    @{
        int j = 1;
        foreach (var item in Model)
        {
            <div class="mySlides">
                <div class="numbertext">@(j++) / @Model.Count()</div>
                <img src="@item.ImageName" style="width:100%">
            </div>
        }
    }

    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

    <div class="caption-container">
        <p id="caption"></p>
    </div>

</div>

@if (SignInManager.IsSignedIn(User))
{
    <hr />
    <div class="row">
        <div class="col-md-10">
            <h1>Skomentuj na forum</h1>
            <form asp-controller="Forum" asp-action="AddTopic">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">Temat:</label>
                    <input name="Topic" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Treść</label>
                    <textarea name="Comment" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" value="Dodaj" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
}

<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    //navigation
    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        var captionText = document.getElementById("caption");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        captionText.innerHTML = dots[slideIndex - 1].alt;
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>