@using Microsoft.AspNetCore.Identity
@using Astro.DAL.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        a:hover{
            color:black !important;
        }
    </style>
</head>
<body style="overflow:scroll;background-image:url('@Url.Content("~/images/background.jpg")');background-position:unset;background-attachment:fixed;background-size:cover;">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3" 
            style="background-color: transparent;padding:8px">
            <div class="container">
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="navbar-brand text-light" asp-area="" asp-controller="Forum" asp-action="MainPage">
                                <span>Astro</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Forum" asp-action="MainPage">Forum</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                NASA
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:transparent;border: solid 1px white">
                                <a class="dropdown-item" asp-area="" asp-controller="APOD" asp-action="Index" style="color:white">Astronomy Picture of the Day</a>
                                <a class="dropdown-item" asp-area="" asp-controller="EPIC" asp-action="Index" style="color:white">Earth Polychromatic Imaging Camera</a>
                                <a class="dropdown-item" asp-area="" asp-controller="AsteroidsNeoWs" asp-action="Index" style="color:white">Near Earth Object Web Service</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="" asp-controller="Gallery" asp-action="Index" style="color:white">Galeria</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>
