@using Microsoft.AspNetCore.Identity
@using Astro.DAL.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@model Astro.Models.LoginViewModel

    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Witaj @User.Identity.Name!</a>
            </li>
            <li class="nav-item">
                <form class="form-inline" asp-area="" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-light">Wyloguj</button>
                </form>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Register">Rejestracja</a>
            </li>
            <form asp-controller="Account" asp-action="Login" class="form-inline nav-item" style="padding-left:23px">
                <input asp-for="Email" class="form-control mr-sm-2" type="email" placeholder="Email" aria-label="Email" required>
                <input asp-for="Password" class="form-control mr-sm-2" type="password" placeholder="Hasło" aria-label="Hasło" required>
                <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Zaloguj</button>
            </form>
        }
    </ul>
