@model Astro.Models.RegisterViewModel

@{
    ViewData["Title"] = "Zarejestruj";
}

<style>
    .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
    }
</style>

<div class="text-center">
    <form asp-action="Register" class="form-signin" style="max-width:440px">
        <h1 class="h1 mb-3 font-weight-normal">Rejestracja</h1>
        <label for="inputUserName" class="sr-only">Nazwa użytkownika</label>
        <input asp-for="UserName" type="text" id="inputUserName" class="form-control" placeholder="Nazwa użytkownika" required="" autofocus="" style="margin-bottom:4px">
        <span asp-validation-for="UserName" class="text-danger"></span>
        <label for="inputEmail" class="sr-only">Adres email</label>
        <input asp-for="Email" type="email" id="inputEmail" class="form-control" placeholder="Adres email" required="" autofocus="" style="margin-bottom:4px">
        <span asp-validation-for="Email" class="text-danger"></span>
        <label for="inputPassword" class="sr-only">Hasło</label>
        <input asp-for="Password" type="password" id="inputPassword" class="form-control" placeholder="Hasło" required="" style="margin-bottom:4px">
        <label for="inputPasswordRepeat" class="sr-only">Powtórz hasło</label>
        <input asp-for="ConfirmPassword" type="password" id="inputPasswordRepeat" class="form-control" placeholder="Powtórz hasło" required="" style="margin-bottom:4px">
        <div class="checkbox mb-3">
            <label>
                Zapraszamy!
            </label>
        </div>
        <button class="myButton" type="submit" style="width:100%">Rejestruj</button>
        <p class="mt-5 mb-3 text-muted">2020</p>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
