@model List<Astro.DAL.Models.Gallery>
@{
    ViewData["Title"] = "Galeria";
}

<style>
    * {
        box-sizing: border-box;
    }

    body {
        margin: 0;
        font-family: Arial;
    }

    .header {
        text-align: center;
        padding: 32px;
    }

    .row {
        display: -ms-flexbox; /* IE10 */
        display: flex;
        -ms-flex-wrap: wrap; /* IE10 */
        flex-wrap: wrap;
        padding: 0 4px;
    }

    .column {
        -ms-flex: 25%; /* IE10 */
        flex: 25%;
        max-width: 25%;
        padding: 0 4px;
    }

    .column img {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
    }

    div.gallery {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 290px;
    }

    div.gallery:hover {
        border: 1px solid #777;
    }

    div.gallery img {
        width: 100%;
        height: auto;
    }

    div.desc {
        padding: 15px;
        text-align: center;
        color: white;
        overflow: hidden;
        text-overflow: ellipsis; 
    }

    .form-search {
        width: 100%;
        max-width: 60%;
        padding: 15px;
        margin: auto;
    }
</style>

<br />
<br />
<h1 style="text-align:center">Galeria zdjęć NASA</h1>

<div class="text-center">
    <form asp-controller="Gallery" asp-action="Search" class="form-search">
        <div class="input-group mb-3">
            <input name="search" type="text" class="form-control" placeholder="Szukaj" aria-label="Szukaj" aria-describedby="basic-addon2" style="background-color:transparent" />
            <div class="input-group-append">
                <input type="submit" value="Szukaj" class="btn btn-light" style="width:250px" />
            </div>
        </div>
    </form>
</div>

<div class="row" style="margin-left:0px;margin-right:0px">
    @foreach (var item in Model)
    {
        <div class="gallery">
            <a target="_blank" href="@item.Url">
                <img src="@item.Url" alt="image" width="700" height="500">
            </a>
            <div class="desc"> @item.Description</div>
        </div>
    }
</div>