@model Astro.Models.AddTopicViewModel

@{
    ViewData["Title"] = "Dodaj wątek";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Dodaj wątek</h1>

<div class="row">
    <div class="col-md-10">
        <form asp-action="AddTopic">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Topic" class="control-label"></label>
                <input asp-for="Topic" class="form-control" />
                <span asp-validation-for="Topic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <textarea asp-for="Comment" class="form-control"></textarea>
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

